nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #ee6e73;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}


.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}




.parallax img
{
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-container
{
    color: black;
}
@media only screen and (max-width : 600px) {
    .parallax-container
    {
        color: white;
    }
}
nav a.button-collapse
{
    color:black;
}
.purple.lighten-1 {
    background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
    color: #CC0066 !important;
}
.share-buttons{
    list-style: none;
}

.share-buttons li{
    display: inline;
}
nav
{
    overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
nav .orange {
  z-index: 1000;
}

#morphsearch {
  z-index: 10;
  margin:auto;
}
.morphsearch {
    width: 200px;
    min-height: 40px;
    background: #f1f1f1;
    position: absolute;
    z-index: 10000;
    top: 50px;
    right: 50px;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right;
    transition-property: min-height, width, top, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open {
    width: 100%;
    min-height: 100%;
    top: 0px;
    right: 0px;
}

.morphsearch-form {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open .morphsearch-form {
    width: 80%;
    height: 160px;
    -webkit-transform: translate3d(0,3em,0);
    transform: translate3d(0,3em,0);
}

.morphsearch-input {
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10px;
    font-weight: 700;
    border: none;
    background: transparent;
    font-size: 0.8em;
    color: #444;
    -webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
    transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.morphsearch-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.morphsearch.hideInput .morphsearch-input {
    color: transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
    font-size: 7em;
}

/* placeholder */
.morphsearch-input::-webkit-input-placeholder {
    color: #444;
}

.morphsearch-input:-moz-placeholder {
    color: #c2c2c2;
}

.morphsearch-input::-moz-placeholder {
    color: #c2c2c2;
}

.morphsearch-input:-ms-input-placeholder {
    color: #c2c2c2;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="search"] { /* reset normalize */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
    outline: none;
}

.morphsearch-submit {
    position: absolute;
    width: 80px;
    height: 80px;
    text-indent: 100px;
    overflow: hidden;
    right: 0;
    top: 40%;
    background: transparent url(../images/magnifier.svg) no-repeat center center;
    background-size: 100%;
    border: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
    transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.morphsearch.open .morphsearch-submit {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.morphsearch-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 3px;
    opacity: 0.2;
    background: #000;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
    opacity: 1;
}

.morphsearch-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.morphsearch-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.morphsearch-content {
    color: #333;
    margin-top: 4.5em;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 10.5%;
    background: #f1f1f1;
    position: absolute;
    pointer-events: none;
    opacity: 0;

}

.morphsearch.open .morphsearch-content {
    opacity: 1;
    height: auto;
    overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
    pointer-events: auto;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
    position: absolute;
    overflow: scroll;
    max-height: 500px;
}

.dummy-column {
    width: 30%;
    padding: 0 0 6em;
    float: left;
    opacity: 0;
    -webkit-transform: translate3d(0,100px,0);
    transform: translateY(100px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.dummy-media-object {
  display: block;
  border-radius: 10px;
  padding: 10px;
}

.morphsearch.open .dummy-column:first-child {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.morphsearch.open .dummy-column:nth-child(2) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.morphsearch.open .dummy-column:nth-child(3) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.morphsearch.open .dummy-column {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.dummy-column:nth-child(2) {
    margin: 0 5%;
}

.dummy-column h2 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color: #c2c2c2;
    padding: 0.5em 0;
}

.round {
    border-radius: 50%;
}
.brand-logo{
  line-height: 2;
}
}
.dummy-media-object {
    padding: 0.75em;
    display: block;
    margin: 0.3em 0;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(118,117,128,0.05);
}

.dummy-media-object:hover,
.dummy-media-object:focus {
    background: rgba(118,117,128,0.1);
}

.dummy-media-object img {
    display: inline-block;
    width: 50px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.dummy-media-object h3 {
    vertical-align: middle;
    font-size: 0.85em;
    display: inline-block;
    font-weight: 700;
    margin: 0 0 0 0;
    width: calc(100% - 70px);
    color: rgba(145,145,145,0.7);
    line-height: 1.212rem;
}

.dummy-media-object:hover h3 {
    color: rgba(236,90,98,1);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open ~ .overlay {
    opacity: 1;
}

@media screen and (max-width: 53.125em) {
    .morphsearch-input {
        padding: 0 25% 0 10px;
    }
    .morphsearch.open .morphsearch-input {
        font-size: 2em;
    }
    .dummy-column {
        float: none;
        width: auto;
        padding: 0 0 2em;
    }
    .dummy-column:nth-child(2) {
        margin: 0;
    }
    .morphsearch.open .morphsearch-submit {
        -webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
        transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
    }
}

@media screen and (max-width: 60.625em) {
    .morphsearch {
        width: 80%;
        top: 10%;
        right: 10%;
    }
}
nav ul a,
nav .brand-logo {
    color: #FFFFFF;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #ee6e73;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}


.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}




.parallax img
{
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-container
{
    color: black;
}
@media only screen and (max-width : 600px) {
    .parallax-container
    {
        color: white;
    }
}
nav a.button-collapse
{
    color:black;
}
.purple.lighten-1 {
    background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
    color: #CC0066 !important;
}
.share-buttons{
    list-style: none;
}

.share-buttons li{
    display: inline;
}
nav
{
    overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.morphsearch.open{
  background: #f1f1f1 !important;
}
.morphsearch.open .morphsearch-input {
  height: 12rem !important;
  background: #f1f1f1 !important;
}
.morphsearch.open .morphsearch-form{
  height: 225px !important;
  background: #f1f1f1 !important;
}
.morphsearch {
  min-height: 200px !important;
}
.morphsearch form input[type=search]{
  border-bottom: none !important;
}
.morphsearch-content {
    color: #333;
    margin-top: -0.5em !important;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 10.5%;
    background: #f1f1f1;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
.morphsearch {
  color:black;
    width: 150px;
    min-height: 40px;
    background: transparent;
    position: absolute;
    z-index: 10000;
    top: 5px;
    left: 0px;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right;
    transition-property: min-height, width, top, right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.morphsearch input[type=search] {
  /* background-color: transparent; */
  border: none;
  border-bottom: none !important;
  outline: none;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  margin: 0 0 15px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s
}
#seach-container{
  float: right !important;
  width: 20% !important;
  padding: 0 !important;
}
.parallax-container {
     min-height: 100px;
}
nav ul li {
  height: 64px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  float: left;
  padding: 0px;
}

.card-body h1 {
  margin-top: -27px;
  padding: 0;
  border: 0;
  font-size: 200%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'OpenSans', sans-serif;
}

.card footer {
    position: absolute;
    text-align: center;
    line-height: 18px;
    z-index: 6;
    bottom: 0;
    left: 50%;
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    transform: -o-translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    color: #FFF;
    font-size: 9px;
}

.cardfooter a {
    color: inherit;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(#A5B5BD 0, #7B847B 100%);
    background: -moz-linear-gradient(#A5B5BD 0, #7B847B 100%);
    background: -ms-linear-gradient(#A5B5BD 0, #7B847B 100%);
    background: -o-linear-gradient(#A5B5BD 0, #7B847B 100%);
    background: linear-gradient(#A5B5BD 0, #7B847B 100%);
}

.card {
    cursor: default;
    position: relative;

}

.card-header {
    height: 235px;
    /*background: url(../images/background.jpg) no-repeat;*/
    background-size: 371px 235px;
    border-radius: 1px 1px 0 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover .card-header {
    background-size: 403px 267px;
    background-position: -16px -16px;
}

.card-header-mask {
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover .card-header-mask {
    background-color: rgba(0, 0, 0, .6);
}

.card-header-date,.card-header-button, .card-body-header-category {
    text-transform: uppercase;
    background-color: #EF5A31;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.card-body-header-category {
    position: absolute;
    width:100%;
    font-size: 13px;
    top: -31px;
    left: 0;
    padding: 8px 14px;
    line-height: 15px;
}
#image-caption {
  font-style:italic;
  font-size:70%;
}

.card-header-date {
    float: right;
    margin: 20px 20px 0 0;
    border-radius: 50%;
    font-weight: bold;
    width:70px;
    height:70px;
    line-height: 15px;
}
.card-header-button {
    float: left;
    margin: 20px 20px 0 20px;
    border-radius: 50%;
    font-weight: bold;
    width:70px;
    height:70px;
    line-height: 30px;
}

.card-header-date-day {
    font-size: 18px;
    padding-top:20px;
}

.card-header-date-month {
    font-size: 11px;
}

.card-body {
    background-color: #FFF;
    border-radius: 0 0 1px 1px;
    padding: 0 26px 26px 26px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.card-body-header {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 26px;
    background-color: #FFF;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.card:hover .card-body-header {
    margin-top: -105px;
}

h1 {
    color: #23282D;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: bold;
}

.card-body-header-sentence {
    color: #EF5A31;
    margin-top: -38px;
    font-size: 19px;
}

.card-body-header-sentence span {
    font-style: italic;
}

.card-body-description {
      opacity: 0;
      color: #757B82;
      line-height: 30px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
}

.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.card-body-footer {
    position: relative;
    z-index: 9;
    margin-top: 14px;
    font-size: 14px;
    color: #9FA5A8;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.icon-time {
    margin-top: -3px;
    width: 10px;
    height: 17px;
    background: url(../images/icon-time.png) no-repeat;
}
.widgettitle {
  display:none;
}

.icon-comment {
    margin-top: -2px;
    margin-left: 12px;
    width: 14px;
    height: 14px;
    /*background: url(../images/icon-comment.png) no-repeat;*/
}
cat-item {
  text-align: center !important;
}
.card-image ul {
    padding: 10px 0 10px 20px;
}
#author-card {
  width: 200px;
  margin-top: auto;
}
/*.comment-body p {
  float:right;
}
.comment-body {
  border-bottom: 1px solid #666;
}
.commentlist .reply {}
.commentlist .reply a {}

.commentlist .alt {}
.commentlist .odd {}
.commentlist .even {}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}

.commentlist .vcard {}
.commentlist .vcard cite.fn {}
.commentlist .vcard span.says {}
.commentlist .vcard img.photo { display:none}
.commentlist .vcard img.avatar {}
.commentlist .vcard cite.fn a.url {}

.commentlist .comment-meta {}
.commentlist .comment-meta a {}
.commentlist .commentmetadata {}
.commentlist .commentmetadata a {}

.commentlist .parent {}
.commentlist .comment {}
.commentlist .children {}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {}
.commentlist .comment-author-admin {}

.commentlist {}
.commentlist li {}
.commentlist li p {}
.commentlist li ul {}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}
.commentlist li ul.children li.depth-{id} {}
.commentlist li ul.children li.bypostauthor {}
.commentlist li ul.children li.comment-author-admin {}

#cancel-comment-reply {}
#cancel-comment-reply a {}*/

@media (max-width: 600px) {
  .card-body-footer,.card-body-header-sentence .fa-arrow-circle-up{
    display:none;
  }
  .card-body-header h1 {
    margin-top: 0px;
    padding: 0;
    border: 0;
    font-size: 150%;
    line-height: 1.5rem;/
  }
  .card-body-header-sentence {
    color: #EF5A31;
    margin-top: -11px;
    font-size: 19px;
    min-height: 21px;
    }
    li .modal-trigger {
      margin-left:70px;
    }
}


/*Comment Output*/

.commentlist .reply {}
.commentlist .reply a {}

.commentlist .alt {}
.commentlist .odd {}
.commentlist .even {}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}

.commentlist .vcard {}
.commentlist .vcard cite.fn {}
.commentlist .vcard span.says {}
.commentlist .vcard img.photo {}
.commentlist .vcard img.avatar {}
.commentlist .vcard cite.fn a.url {}

.commentlist .comment-meta {}
.commentlist .comment-meta a {}
.commentlist .commentmetadata {}
.commentlist .commentmetadata a {}

.commentlist .parent {}
.commentlist .comment {}
.commentlist .children {}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {}
.commentlist .comment-author-admin {}

.commentlist {}
.commentlist li {}
.commentlist li p {}
.commentlist li ul {}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}
.commentlist li ul.children li.depth-{id} {}
.commentlist li ul.children li.bypostauthor {}
.commentlist li ul.children li.comment-author-admin {}

#cancel-comment-reply {}
#cancel-comment-reply a {}
